.footer{
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    letter-spacing: 0.2em;
    padding: 30px;
    text-align: center;
}