:root {
    --main-bg-color: #fafafa;       /*  #edeff0  */
    --main-font-color: #0f2d54;     /* #0f2d54, #0d2754 ,#222f44,  */  
    --main-theme-color: #406800;    /* #294400,  #1e2b0c  */
    --error: #cc463f;
    --heart-color: #e31b23;
}